a
a.exe
bigboy
bigboy.txt
biggirl.txt
bigboy*
.tup
.gdb_history
gcd

in*
ex*
*.rec

oi/32/e1/wal/tests/input3
oi/32/e1/wal/tests/output3

oi/32/e1/zam/tests/input3
oi/32/e1/zam/tests/output3
oi/32/e1/zam/tests/input5
oi/32/e1/zam/tests/output5
